<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="w-full bg-zinc-800">

  <% if(nav==true){%>

   

    <div class="w-full  text-white bg-zinc-800">

<div class="w-full h-[10vw] bg-300 textl-white  flex flex items-center justify-between gap-2 pl-2">
  <a class="hover:text-red-600  " href="/logout">Logout</a>
  <a class="hover:text-green-600  px-10 py-1 " href="/profile">Profile</a>
  <a class="hover:text-green-600   px-10 py-1" href="/feed">feed</a>
  <a class="hover:text-green-600   px-10 py-1" href="/show/posts">show</a>


</div>
    </div>
  <%}%>

