<% include ./partials/header.ejs %>
<div class="bg-zinc-500 w-full min-h-screen">
  <div class="flex justify-center items-center p-20">
    <div class="mt-5 text-2xl">
      <div>
        <h1 class="text-white text-3xl ml-20 mb-10 font-semibold hover:text-green-400">
          Important for easy to use this Web-App(SaveCuteImages WebApp)
        </h1>
      </div>

      <table>
        <ol>
          <li class="hover:text-white">
            1. you can register once a single email id
          </li>

          <li class="hover:text-white">
            2. next time you can login with your username and password
          </li>

          <li class="hover:text-white">
            3. If you want to register again then you will have to use another email
          </li>

          <li class="hover:text-white">
            4. your data and your personal information completely save and
            secured so don't worry
          </li>

          <li class="hover:text-white">
            5. Still if you have any doubt so you can insert anything or any data 
          </li>

          <li class="hover:text-white">
            6. chill dear...
           </li>




         

            
         
        </li>

        


        </ol>
      </table>

      <h1 class="text-3xl text-green-500 m-5">contact me for any doubt</h1>

      <h1 class="text-green-500">9919579350</h1>
      <a class="block hover:text-white" href="#">movilal893@gmail.com</a>
      <a class="block hover:text-white" href="#">movilal16@gmail.com</a>
      <a href="http://www.linkedin.com/in/Mo-Vilal">Linkedin</a>

    
    </div>
    
   
    <div class="flex flex-col gap-10">
      <div
        class="mt-5 bg-white hover:bg-black text-black hover:text-white flex justify-center items-center rounded-xl"
      >
        <a href="/"><h1 class="px-7">Register</h1></a>
      </div>

      
      <div
       class="mt-5 bg-white hover:bg-black text-black hover:text-white flex justify-center items-center rounded-xl"
      >
        <a href="/login"><h1 class="px-7">login</h1></a>
      </div>
    </div>
  </div>

  <div class="flex justify-end p-10">
    <div class="flex  flex-col ">
      <h1 class="text-5xl text-white pb-10 pr-10">MO-bilal </h1>
      <h1 class="-mt-10 text-2xl">here</h1>

    </div>
   
  </div>
</div>


<div class="flex-col justify-end"></div>

<% include ./partials/footer.ejs %>
